:root{
/*Backgrounds*/
--Background-pagina: hsl(222, 26%, 31%);
--Background-calculadora: hsl(223, 31%, 20%);
--Background-input-resultado: hsl(224, 36%, 15%);

/*Botões*/
--Background-botao-azul: hsl(225, 21%, 49%);
--Sombra-botao-azul: hsl(224, 28%, 35%);
--vermelho: hsl(6, 63%, 50%);
--Sombra-vermelho: hsl(6, 70%, 34%);
--Background-botao-claro: hsl(30, 25%, 89%);
--Sombra-botao-claro: hsl(28, 16%, 65%);

/*Texto*/
--Cor-fonte-botoes: hsl(221, 14%, 31%);
--Branco-titulo: hsl(0, 0, 100%);

/*Tamanho fonte numero*/
--Font-size-numeros: 26px;
}

* {
    box-sizing: border-box;
  }

body{
    background-color: var(--Background-pagina);
    font-family: 'League Spartan', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titulo{
    font-size: 42px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.container-inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-text{
    background-color: var(--Background-input-resultado);
    color: white;
    padding: 0.7em 1em;
    width: 550px;
    margin: 5px 0px;
    border-radius: 10px;
    font-size: 22px;
    outline: 0;
}

.input-text::placeholder{
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.conta-atual:focus-within{
    border: 2px solid var(--vermelho);
}

.resultado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resultado-grande{
    background-color: var(--Background-input-resultado);
    color: white;
    padding: 0.7em 1em;
    width: 380px;
    margin: 5px 0px;
    border-radius: 10px;
    font-size: 22px;
    outline: 0;
}

.resultado-grande::placeholder{
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.resultado-aproximado{
    background-color: var(--Background-input-resultado);
    color: white;
    padding: 0.7em 1em;
    width: 110px;
    margin: 5px 0px;
    border-radius: 10px;
    font-size: 22px;
    outline: 0;
    text-align: center;
}

.resultado-aproximado::placeholder{
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.aproximado{
    font-size: 26px;
    color: white;
    background-color: var(--Background-botao-azul);
    width: 40px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px var(--Sombra-botao-azul);
    text-align: center;
    padding: 6px 0px 0px 0px;
}

.container-botoes{
    background-color: var(--Background-calculadora);
    border-radius: 10px;
    padding: 10px;
    width: 550px;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botao{
    background-color: var(--Background-botao-claro);
    font-size: var(--Font-size-numeros);
    color: var(--Cor-fonte-botoes);
    width: 75px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    vertical-align: bottom;
    text-align: center;
    font-weight: 700;
    box-shadow: 0px 3px 0px 0px var(--Sombra-botao-claro);
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.05);
}

.botao-clear{
    background-color: var(--Background-botao-azul);
    color: white;
    font-size: 18px;
    box-shadow: 0px 3px 0px 0px var(--Sombra-botao-azul);
}

.botao-del{
    background-color: var(--Background-botao-azul);
    color: white;
    font-size: 18px;
    box-shadow: 0px 3px 0px 0px var(--Sombra-botao-azul);
}

.botao-eq{
    background-color: var(--vermelho);
    color: white;
    box-shadow: 0px 3px 0px 0px var(--Sombra-vermelho);
}

.botao-semi{
    background-color: var(--Background-botao-azul);
    color: white;
    font-size: 23px;
    box-shadow: 0px 3px 0px 0px var(--Sombra-botao-azul);
}